numpy
opencv-python
Pillow
fastapi
uvicorn
sqlalchemy
pydantic
cmake
face-recognition
mediapipe==0.10.14
python-multipart
pydantic[email]
psycopg2-binary
alembic
bcrypt
pyjwt
vosk 
librosa 
soundfile 
pyttsx3 
SpeechRecognition
gtts
aiortc
av
resend
pydub
ffmpeg-python